# ==========================================
# Environment Variables & Secrets
# ==========================================
.env
.venv
.env.local
.env.*.local
**/__pycache__/


# ==========================================
# Application & Editor Caches
# ==========================================
.cache/
.clangd/

#Folder
for_tesing_only/
venv/
crops/